<section class="page-header">
<!--  
<div class="profile"></div>
-->
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://edward0414.github.io/about/" class="btn">About Me</a>
  <a href="https://github.com/edward0414" class="btn">GitHub</a>
  <a href="https://www.linkedin.com/in/edward0414/" class="btn">Linkedin</a>
  <a href="mailto:yenlin.feng@mail.utoronto.ca?Subject=Hello%20:)" target="_top" class="btn">Send me a Mail!</a>
</section>